.App {
  background-image: url(img/homepage_background.png);
  height: 100vh; 
}

p {
  font-size: 80px; 
  margin: 0;
  padding: 0;
}

.hows { 
  color: white;
  padding-top: 66%;
  padding-left: 10%;

}

.nan {
  padding-left: 35%;
  margin-top: -7%;
  color: #06356D;
}

.nextArrow {
  float: right;
  padding-top: 30%;
  padding-right: 5%;

}